<div class="{{Css ? 'containerPelisInfoCenter' : 'containerPelisInfoStart'}}">
    <div class="containerCarh" *ngFor="let item of datosPelicula | slice:0:numSlice" >
        <div class="Carh" (click)="routerMovies(item?.titulo)" *ngIf="item" >
            <img src={{item?.img}} alt="" class="carhImg">
            <div class="containerIcon" *ngIf="item">
                <img src="../../../assets/img/icon/boton-de-play (1).png" alt="" class="iconImg" >
            </div>
        </div>
        <div class="containerInfo" (click)="routerMovies(item?.titulo)" *ngIf="item">
            <p class="tituloCarh">{{item?.titulo}}</p>
            <div class="genero">
                <p class="generoCarh generoYears">{{item?.year}}</p>
                <p class="generoCarh">{{item?.genero.split('_').join('· ')}}</p>
            </div>
        </div>
    </div>
</div>
<div class="containerBtn" *ngIf="datosPelicula">
    <h4 class="btnCargar" (click)="cargarMas()" *ngIf="cssVer">{{ShitMore}}</h4>
</div>