@import url("https://fonts.googleapis.com/css2?family=Fredoka:wdth,wght@86.6,375;100,300&family=Rowdies&display=swap");

/* Container pelis informacion */

.containerPelisInfo {
  margin-top: 1%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  row-gap: 10px;
}

.containerCarh {
  height: 500px;
  width: 250px;
}

.Carh {
  margin-bottom: 2%;
  margin-left: 0;
  margin-right: 0;
  padding: 0;
  height: 390px;
  width: 250px;
  display: flex;
  position: relative;
  align-items: center;
  cursor: pointer;
  
}

.carhImg {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}

.Carh:hover .carhImg {
  opacity: 0.3;
}

.containerIcon {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
}

.iconImg {
  height: 50px;
  font-size: 50px;
  opacity: 0;
  transition: height 1s ease;
}

.iconImg:hover {
  filter: opacity(0.4) drop-shadow(0 0 0 red);
}

.Carh:hover .iconImg {
  transform: scale(1);
  opacity: 1;
  height: 80px;
}

.containerInfo {
  margin: 0;
  padding: 0;
}

.tituloCarh {
  color: #fafafa;
  font-size: 17px;
  width: 70%;
  font-family: "Fredoka", sans-serif;
  letter-spacing: 0.10em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: color 0.2s ease;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

.tituloCarh:hover {
  color: #e34c16;
}

.genero {
  display: flex;
  flex-direction: row;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.generoCarh {
  color: #8a898e;
  font-size: 15px;
  padding-top: 5%;
  font-family: Courier New, Courier, Lucida Sans Typewriter, Lucida Typewriter,
    monospace;
}
