<div class="containerPelisInfo">
    <div class="containerCarh" *ngFor="let item of datosPelicula | slice:0:15">
        <div class="Carh" (click)="routerMovies(item.titulo)">
            <img [src]="item.img" alt="" class="carhImg">
            <div class="containerIcon">
                <img src="../../../assets/img/icon/boton-de-play (1).png" alt="" class="iconImg" >
            </div>
        </div>
        <div class="containerInfo" (click)="routerMovies(item.titulo)">
            <p class="tituloCarh">{{item?.titulo}}</p>
            <div class="genero">
                <p class="generoCarh generoYears">2013 - 1 hr 25 min</p>
                <p class="generoCarh">{{item?.genero.split('_').join('· ')}}</p>
            </div>
        </div>
    </div>
</div>