<div class="containerFooter">
  <div class="containerImg">
    <div class="Logo">
      <img src="../../../assets/img/icon/rollo-de-pelicula.png" alt="" class="imgLogo">
    </div>
    <div class="redes">
      <img src="../../../assets/img/redes/linkedin (4).png" alt="" class="imgRedes">
      <img src="../../../assets/img/redes/gorjeo.png" alt="" class="imgRedes">
      <img src="../../../assets/img/redes/linkedin (4).png" alt="" class="imgRedes">
    </div>
  </div>
  <div class="containerDerechos">
    <p class="derechos">© 2022 filmsDo Peliculas Online, Todos los derechos reservados. Hay 76 películas disponibles</p>
  </div>
</div>