<div class="containerView">
    <app-nav-bar></app-nav-bar>
    <div class="movieSectionsContainer">
        <app-movie-sections></app-movie-sections>
        <div>
            <img src="https://images-na.ssl-images-amazon.com/images/S/pv-target-images/b1887707ef3db1f4fad10ba485ae446e752429ce8c0665b5d2a9d136e8733863._UY500_UX667_RI_V_TTW_SX329_.jpg" alt="" srcset="">
        </div>
        <iframe src="https://streamtape.com/e/kP9omGRWK6hOXKm/" width="90%" height="90%" allowfullscreen allowtransparency allow="autoplay" scrolling="no" frameborder="0"></iframe>
    </div>
</div>