h4 {
  margin: 0;
  padding: 0;
  color: #afafaf;
  font-family: monospace;
}

.containerCarhInfo {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5%;
}

.containerCarhView {
  margin: 0;
  padding: 0;
  max-width: 75%;
  width: 75%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.containerMovies {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  width: 100%;
}

.containerTitulo {
  max-width: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  height: 110px;
  align-items: center;
  margin-top: 4%;
}

.containerH4 {
  display: flex;
  flex-direction: column;
  width: 75%;
  gap: 20px;
}

.tituloH4 {
  font-size: 60px;
  color: white;
  font-family: monospace;
  line-height: 95%;
}

.containerIframe {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.colorGris {
  width: 20%;
}

.h4white {
  color: white;
}

.containerTexto {
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 13px;
  padding-top: 2%;
  padding-left: 2%;
}

.titulo {
  font-size: 35px;
  letter-spacing: 0.1em;
  color: white;
}

.sinopsis {
  color: white;
  margin: 0;
  padding: 0;
  font-size: 22px;
  font-family: monospace;
}

.containerValoracion {
  display: flex;
  width: 100%;
  gap: 8px;
  color: #e34c16;
}

.containerValoracion h4 {
  color: #e34c16;
}

.containerDirector {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  margin-top: 2%;
}

.containerInfo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  width: 100%;
}

.containerImgOpciones {
  width: 100%;
  display: flex;
  justify-content: center;
}

.imgOpciones {
  height: 55px;
  cursor: pointer;
  transition: height 1s;
}

.imgOpciones:hover {
  height: 75px;
}

.containerImg {
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.containerMovil {
  display: none;
}

.containerImgCaratula {
  height: 350px;
  width: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.imgCaratula {
  height: 350px;
  width: 230px;
  box-shadow: 5px 5px 40px wheat;
  cursor: pointer;
  border-radius: 2%;
}

.containerDirectorTwo {
  display: flex;
  flex-direction: column;
}

.reparto {
  width: 70%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.videoIframe {
  margin: 0;
  padding: 0;
  border: 1px solid rgba(255, 255, 255, 0.543);
  width: 80%;
  height: 750px;
}

.containerPeliculaSugeridas {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 3%;
}

.containerPuede {
  width: 75%;
  margin-bottom: 3%;
}

.h4Puede {
  color: white;
  font-size: 22px;
}

.peliculasSugeridas {
  width: 75%;
}

.containerComments {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 75%;
}

.commentsTitulo {
  color: white;
  font-size: 29px;
  font-family: monospace;
}

@media only screen and (max-width: 1450px) and (min-width: 980px) {
  .containerH4 {
    width: 90%;
    gap: 15px;
  }

  .tituloH4 {
    font-size: 40px;
  }

  .videoIframe {
    width: 90%;
    height: 520px;
  }

  .containerCarhView {
    max-width: 100%;
    width: 90%;
  }

  .sinopsis {
    font-size: 20px;
  }

  .colorGris {
    width: 20%;
    font-size: 15px;
  }

  .h4white {
    color: white;
    font-size: 15px;
  }
  .containerTexto {
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 13px;
    padding-top: 2%;
    padding-left: 2%;
  }

  .peliculasSugeridas {
    width: 85%;
  }
}

/* Para 960px */
@media only screen and (max-width: 980px) and (min-width: 821px) {
  .containerH4 {
    width: 90%;
    gap: 15px;
  }

  .tituloH4 {
    font-size: 40px;
  }

  .videoIframe {
    width: 90%;
    height: 500px;
  }

  .containerCarhView {
    max-width: 100%;
    width: 90%;
  }

  .sinopsis {
    font-size: 18px;
  }

  .colorGris {
    width: 20%;
    font-size: 15px;
  }

  .h4white {
    color: white;
    font-size: 15px;
  }

  .containerTexto {
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 13px;
    padding-top: 2%;
    padding-left: 2%;
  }
  .peliculasSugeridas {
    width: 90%;
  }
}

/* Para 800px */
@media only screen and (max-width: 820px) and (min-width: 621px) {
  .containerH4 {
    width: 90%;
    gap: 15px;
  }

  .tituloH4 {
    font-size: 40px;
  }

  .videoIframe {
    width: 95%;
    height: 400px;
  }

  .none {
    display: none;
  }

  .containerTexto {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 13px;
    padding-top: 2%;
    padding-left: 2%;
  }

  .containerCarhView {
    max-width: 100%;
    width: 90%;
  }
  .sinopsis {
    font-size: 19px;
  }

  .colorGris {
    width: 20%;
    font-size: 14px;
  }

  .h4white {
    color: white;
    font-size: 13px;
  }

  .commentsTitulo {
    font-size: 27px;
  }
}

/* Para 600px */
@media only screen and (max-width: 620px) and (min-width: 501px) {
  .containerH4 {
    width: 90%;
    gap: 15px;
  }

  .tituloH4 {
    font-size: 35px;
  }

  .videoIframe {
    width: 95%;
    height: 380px;
  }

  .containerCarhView {
    max-width: 100%;
    width: 95%;
    justify-content: center;
    flex-direction: column;
  }

  .imgCaratula {
    height: 270px;
    width: 175px;
    box-shadow: 5px 5px 40px rgba(245, 222, 179, 0);
  }

  .containerImg {
    width: 100%;
    flex-direction: row;
  }

  .containerMovil {
    display: block;
    width: 50%;
    margin-left: 5%;
  }

  .movil {
    font-size: 22px;
  }

  .none {
    display: none;
  }

  .containerTexto {
    max-width: 100%;
    width: 95%;
    padding-left: 0%;
  }

  .sinopsis {
    font-size: 18px;
  }

  .colorGris {
    width: 20%;
    font-size: 12px;
  }

  .h4white {
    color: white;
    font-size: 11px;
  }

  .peliculasSugeridas {
    width: 100%;
  }

  .h4Puede {
    color: white;
    font-size: 20px;
  }

  .containerComments {
    width: 90%;
  }

  .commentsTitulo {
    font-size: 25px;
  }
}

/* Para 480px */
@media only screen and (max-width: 500px) and (min-width: 380px) {
  .containerH4 {
    width: 90%;
    gap: 10px;
  }

  .tituloH4 {
    font-size: 30px;
  }

  .videoIframe {
    width: 95%;
    height: 300px;
  }

  .containerCarhView {
    max-width: 100%;
    width: 95%;
    justify-content: center;
    flex-direction: column;
  }

  .imgCaratula {
    height: 260px;
    width: 170px;
    box-shadow: 5px 5px 40px rgba(245, 222, 179, 0);
  }

  .containerMovil {
    display: block;
    width: 50%;
    margin-left: 5%;
  }
  .containerImg {
    width: 100%;
    display: flex;
    flex-direction: row;
  }

  .containerImgCaratula {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .movil {
    font-size: 20px;
  }

  .none {
    display: none;
  }

  .containerTexto {
    max-width: 100%;
    width: 95%;
    padding-left: 0%;
  }

  .sinopsis {
    font-size: 15px;
  }

  .colorGris {
    width: 20%;
    font-size: 12px;
  }

  .h4white {
    color: white;
    font-size: 11px;
  }

  .peliculasSugeridas {
    width: 100%;
  }

  .h4Puede {
    color: white;
    font-size: 18px;
  }
  .containerComments {
    width: 95%;
  }

  .commentsTitulo {
    font-size: 25px;
  }
}

/* Para 320px */
@media only screen and (max-width: 380px) and (min-width: 5px) {
  .containerH4 {
    width: 90%;
    gap: 7px;
  }

  .tituloH4 {
    font-size: 23px;
  }

  .videoIframe {
    width: 95%;
    height: 250px;
  }

  .containerCarhView {
    max-width: 100%;
    width: 95%;
    justify-content: center;
    flex-direction: column;
  }

  .imgCaratula {
    height: 230px;
    width: 140px;
    box-shadow: 5px 5px 40px rgba(245, 222, 179, 0);
  }
  .containerImg {
    width: 100%;
    flex-direction: row;
  }
  .containerMovil {
    display: block;
    width: 50%;
    margin-left: 5%;
  }

  .movil {
    font-size: 15px;
  }

  .none {
    display: none;
  }

  .containerTexto {
    max-width: 100%;
    width: 95%;
    padding-left: 0%;
  }

  .sinopsis {
    font-size: 11px;
  }

  .colorGris {
    width: 20%;
    font-size: 12px;
  }

  .h4white {
    color: white;
    font-size: 11px;
  }

  .peliculasSugeridas {
    width: 100%;
  }

  .h4Puede {
    color: white;
    font-size: 16px;
  }
  .containerComments {
    width: 95%;
  }

  .commentsTitulo {
    font-size: 22px;
  }
}
