@import url("https://fonts.googleapis.com/css2?family=Fredoka:wdth,wght@86.6,375;100,300&family=Rowdies&display=swap");
.containerSidenav {
  margin: 0;
  padding: 0;
  width: 100%;
}

.containerGenre {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-bottom: 1%;
  margin-top: 4%;
}

.infoGenre {
  width: 90%;
  padding-bottom: 2%;
  border-bottom: 1px solid #ffffffc2;
}

.tituloGenre {
  color: #ffffff;
  font-size: 30px;
  font-family: "Fredoka", sans-serif;
  letter-spacing: 0.10em;
}


.descriptionGenre {
  width: 80%;
  color: #8a898e;
  font-size: 18px;
  font-family: "Fredoka", sans-serif;
}