@import url("https://fonts.googleapis.com/css2?family=Fredoka:wdth,wght@86.6,375;100,300&family=Rowdies&display=swap");


.movieSectionsContainer {
  position: absolute;
  right: 0;
  top: 0;
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: #161717;
  overflow-y: scroll;
  border-left: 1px solid #ffffffc2;
}

.movieSectionsContainer::-webkit-scrollbar {
  background: #161717;
  width: 9px;
}

.movieSectionsContainer::-webkit-scrollbar-thumb {
  background: #8e9494;
}

.containerGenre {
  width: 100%;
  align-items: center;
}

.tituloGenre {
  color: #ffffff;
  font-size: 30px;
  /* margin-left: 4%; */
  font-family: "Fredoka", sans-serif;
  letter-spacing: 0.10em;
  margin-bottom: 0;
}


.descriptionGenre {
  width: 80%;
  color: #8a898e;
  font-size: 22px;
  font-family: "Fredoka", sans-serif;
  border-bottom: 1px solid #ffffffc2;
  padding-bottom: 3%;
}