
<div class="movieSectionsContainer">
  <div *ngIf="verInfo" class="containerIAlsoLike">
    <div class="containerTest">
      <h4 class="textResult">Tu resultado :</h4>
    </div>
    <div class="containerResultado">
      <app-spinner-loading *ngIf="loanding"></app-spinner-loading>
      <app-view-crash [datosPelicula]="data$" [Css]="true" [clases]="'containerCarhView'"></app-view-crash>
    </div>
  </div>
    <!-- <div *ngIf="verInfo" class="containerIAlsoLike">
    <div class="containerTest">
      <h4 class="textResult" >Puede que tambien te guste</h4>
    </div>
    <div class="containerViewLo">
      <app-spinner-loading *ngIf="loanding"></app-spinner-loading>
      <app-view-crash [datosPelicula]="pelisRandom" [Css]="true"></app-view-crash>
    </div>
  </div> -->
  <!-- <app-modal-seeker></app-modal-seeker> -->
</div>