.NavbarContainer {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
}

.navBarUl {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.navBarUl li {
    padding: 0.8%;
    list-style: none;
    font-size: 15px;
    color: rgb(255, 255, 255);
    font-family: 'Rowdies', cursive;
    cursor: pointer;
}


.navBarImgLogo{
    width: 70px;
    cursor: pointer;
    padding: 0;
    margin: 0;
}