<div class="NavbarPrincipal">
    <div class="navBarViendo">
        <p>ESTA VIENDO : </p>
    </div>
  <div class="NavbarContainer">
    <p class="navBarTitulo">Pelis RD</p>
    <p class="navBarTexto">
      Estas es la pagina mas completa para informarte y ver todas las peliculas
      dominicanas, creada para que la cultura dominicana no se pierda en cosmos
      del internet.
    </p>
  </div>
  <div class="navBarImg">
    <img
      class="navBarImgLogo"
      src="../../../../../assets/img/logo/palomitas-de-maiz.png"
      alt=""
    />
  </div>
</div>
