<div class="NavbarPrincipal">
    <div class="navBarViendo">
        <p>ESTA VIENDO : </p>
    </div>
  <div class="NavbarContainer">
    <p class="navBarTitulo">Pelis RD</p>
    <p class="navBarTexto">
      Estas es la pagina mas completa para informarte y ver todas las peliculas
      Dominicanas, creada para que la cultura Dominicana no se pierda en cosmos
      del internet.
    </p>
    <div class="navBarRedes">
        <img class="imgRedes" src="../../../../../assets/img/redes/facebook.png" alt="">
        <img class="imgRedes" src="../../../../../assets/img/redes/github.png" alt="">
        <img class="imgRedes" src="../../../../../assets/img/redes/instagram.png" alt="">
        <img class="imgRedes" src="../../../../../assets/img/redes/linkedin.png" alt="">
        <img class="imgRedes" src="../../../../../assets/img/redes/api.png" alt="">
    </div>
  </div>
  <div class="navBarImg">
    <img
      class="navBarImgLogo"
      src="../../../../../assets/img/logo/palomitas-de-maiz.png"
      alt=""
    />
  </div>
</div>
