@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&family=Fredoka:wdth,wght@86.6,375;100,300&family=Rowdies&display=swap");

.containerModal {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  margin-bottom: 3%;
}

.input {
  width: 95%;
  height: 50px;
  border: 1px solid transparent;
  outline: none;
  border-bottom: 2px solid #3f3f3f;
  caret-color: #3f3f3f;
  color: white;
  background-color: black;
  padding: 5px;
  transition: 0.5s linear;
  font-family: monospace;
  letter-spacing: 1px;
  font-size: 20px;
}

.input::placeholder {
  font-size: 20px;
}

.input:focus {
  border: 2px solid #fa4753;
  caret-color: #fa4753;
  color: #fa4753;
  box-shadow: 4px 4px 10px #070707;
}

.input:focus::placeholder {
  color: #fa4753;
}

.containerCLose {
  width: 5%;
  align-items: center;
  display: flex;
  justify-content: center;
  border: 2px solid #3f3f3f;
  transition: 0.5s linear;
}

.imgClose {
  height: 20px;
  transition: 0.5s linear;
}

.containerCLose:hover {
  border: 2px solid #fa4753;
  filter: opacity(0.4) drop-shadow(0 0 0 red);
}

.containerCLose:hover .imgClose {
  filter: opacity(0.4) drop-shadow(0 0 0 red);
}

li {
  color: aliceblue;
  font-size: 40px;
}

.containerIAlsoLike {
  padding: 0;
  margin: 0;
}

.containerTest {
  width: 100%;
  height: 30px;
}

.textResult {
  color: white;
  font-size: 20px;
  font-family: "Archivo Black", sans-serif;
  font-family: "Fredoka", sans-serif;
  font-family: "Rowdies", cursive;
  letter-spacing: 0.1em;
}

.containerViewLo {
  padding: 0;
  margin: 0;
  width: 100%;
  display: flex;
  justify-content: center;
}