<div mat-dialog-content>
  <div class="containerModal">
    <input
      placeholder="Busca..."
      class="input"
      type="text"
      (ngModelChange)="search($event)"
      [(ngModel)]="src"
      autofocus
      #input
    />
    <div class="containerCLose" (click)="borrar()">
      <img src="../../../assets/img/icon/escoba.png" alt="" class="imgClose" />
    </div>
  </div>
  <div *ngIf="verInfo" class="containerIAlsoLike">
    <div class="containerTest">
      <h4 class="textResult">Tu resultado :</h4>
    </div>
    <div class="containerResultado">
      <app-spinner-loading *ngIf="loanding"></app-spinner-loading>
      <app-view-crash [datosPelicula]="data$" [Css]="false" [clases]="'containerCarhView'"></app-view-crash>
    </div>
  </div>
  <div *ngIf="verInfo" class="containerIAlsoLike">
    <div class="containerTest">
      <h4 class="textResult" >Puede que tambien te guste</h4>
    </div>
    <div class="containerViewLo">
      <app-spinner-loading *ngIf="loanding"></app-spinner-loading>
      <app-view-crash [datosPelicula]="pelisRandom" [Css]="true"></app-view-crash>
    </div>
  </div>
</div>
