.containerModal {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  margin-bottom: 3%;
  justify-content: center;
  margin-top: 2%;
}

.input {
  width: 65%;
  height: 50px;
  border: 1px solid #e6e4e4;
  outline: none;
  caret-color: #ffffff;
  color: white;
  background-color: #0d1017;
  padding: 5px;
  transition: 0.5s linear;
  font-family: monospace;
  letter-spacing: 1px;
  font-size: 20px;
}

.input::placeholder {
  font-size: 20px;
  color: #ffffff;
}

.input:focus {
  border: 2px solid #fd0a0acd;
  caret-color: #fd0a0acd;
  color: #ffffffcd;
  box-shadow: 4px 4px 10px #070707;
}

.input:focus::placeholder {
  color: #fd0a0acd;
}

.containerCLose {
  width: 5%;
  align-items: center;
  display: flex;
  justify-content: center;
  border: 1px solid #ffffff;
  transition: 0.5s linear;
  cursor: pointer;
}

.imgClose {
  height: 20px;
  transition: 0.5s linear;
}

.containerCLose:hover {
  border: 2px solid #fa4753;
  filter: opacity(0.4) drop-shadow(0 0 0 red);
}

.containerCLose:hover .imgClose {
  filter: opacity(0.4) drop-shadow(0 0 0 red);
}

li {
  color: aliceblue;
  font-size: 40px;
}

.containerIAlsoLike {
  padding: 0;
  margin: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.containerTest {
  width: 80%;
  height: 30px;
}

.textResult {
  color: white;
  font-size: 20px;
  font-family: monospace;
  letter-spacing: 0.1em;
}

.containerResultado {
  width: 80%;
}

.containerViewLo {
  padding: 0;
  margin: 0;
  width: 100%;
  display: flex;
  justify-content: center;
}

/* Para 960px */
@media only screen and (max-width: 980px) and (min-width: 821px) {
  .input {
    height: 45px;
    font-size: 18px;
  }

  .containerCLose {
    width: 10%;
  }
}

/* Para 800px */
@media only screen and (max-width: 820px) and (min-width: 621px) {
  .input {
    height: 45px;
    font-size: 16px;
  }

  .containerCLose {
    width: 10%;
  }
}

/* Para 600px */
@media only screen and (max-width: 620px) and (min-width: 501px) {
  .input {
    height: 40px;
    font-size: 14px;
  }

  .input::placeholder {
    font-size: 15px;
  }

  .imgClose {
    height: 15px;
  }

  .containerCLose {
    width: 15%;
  }
  .input {
    width: 85%;
  }

  .textResult {
    font-size: 15px;
  }

  .containerTest {
    width: 100%;
    height: 30px;
  }

  .containerResultado {
    width: 100%;
  }
}

/* Para 480px */
@media only screen and (max-width: 500px) and (min-width: 341px) {
  .input {
    height: 40px;
    font-size: 12px;
  }

  .input::placeholder {
    font-size: 13px;
  }

  .imgClose {
    height: 17px;
  }

  .containerCLose {
    width: 15%;
  }
  .input {
    width: 85%;
  }

  .textResult {
    font-size: 10px;
  }

  .containerTest {
    width: 100%;
    height: 30px;
  }

  .containerResultado {
    width: 100%;
  }
}

/* Para 320px */
@media only screen and (max-width: 340px) and (min-width: 5px) {
  .input {
    height: 40px;
    font-size: 10px;
  }

  .input::placeholder {
    font-size: 10px;
  }

  .imgClose {
    height: 15px;
  }

  .containerCLose {
    width: 15%;
  }
  .input {
    width: 85%;
  }

  .textResult {
    font-size: 8px;
  }

  .containerTest {
    width: 100%;
    height: 30px;
  }

  .containerResultado {
    width: 100%;
  }
}
