<div class="containerViewCrashRow">
  <!-- <div class="containerCrash">
    <div class="containerImgs">
      <img
        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRxWoZLdc0C9vp_C4aqSMPI3-YRbw-NEDaTiOoMCV2jVNqthP-4"
        alt=""
        class="imgPelis"
      />
      <div class="containerIcon">
        <img src="../../../assets/img/icon/boton-de-play (1).png" alt="" class="imgIcon"/>
      </div>
    </div>
    <div class="containerInformacion">
      <h4 class="titulo">Los Paracaidistas</h4>
      <div class="directorYears">
        <h4 class="director">Archie Lopez</h4>
        <h4 class="years">2015 - 98Min</h4>
      </div>
      <div class="containerDescripcion">
        <p class="descripcion">
          Cuatro empleados de una fábrica de colchones tratan de romper un
          curioso record: participar en cien fiestas a las que no han sido
          invitados! Su propósito principal es entretener a Leo, quien no supera
          la ruptura con su novia y -de paso- convertirse en ricos y famosos.
          Pero terminan arriesgando lo que más les importa: Su amistad, sus
          trabajos y el amor.
        </p>
      </div>
      <div class="containerResparto">
        <p class="reparto">
          Daniel Sarcos, Fausto Mata, Cheddy García, Irvin Alberti, Mozart La
          Para,Lya Abreu, Bebo Alberti, Miguel Alcantara, Grecia Alvarez,
          Mariasela Alvarez, Domingo Bautista, Jenny Blanco, Loraida Bobadilla
        </p>
      </div>
    </div>
  </div> -->
</div>
