* {
  color: rgb(0, 0, 0);
}

.containerViewCrashRow {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 2px;
  margin-top: 1%;
  margin-left: 2%;
}

.containerCrash {
  height: 20%;
  width: 40%;
  display: flex;
  background-color: aliceblue;
}

.containerImgs {
  width: 45%;
  height: 100%;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  flex-wrap: wrap;
  overflow: hidden;
  border: 1px solid rgba(0, 0, 0, 0.217);
}

.imgPelis {
  width: 100%;
  height: 400px;
  padding: 0;
  margin: 0;
  transition-duration: 1s;
  
}

.containerIcon {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
}

.imgIcon {
  height: 80px;
  font-size: 50px;
  opacity: 0;
  transition: height 1s ease;
}

.imgIcon:hover {
  filter: opacity(0.4) drop-shadow(0 0 0 red);
}

.containerImgs:hover .imgIcon {
  transform: scale(1);
  opacity: 1;
  height: 60px;
}

.containerInformacion {
  width: 55%;
  height: 100%;
}

.containerResparto {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}