<div class="containerComentarios">
  <div class="containerOpcionnes">
    <h4 class="numeroComments"> 0 Comentarios</h4>
    <div class="containerSelect">
      <h4>Ordenar por</h4>
      <select class="">
        <option value="">Mas antiguos</option>
        <option value="1">Mas recientes</option>
      </select>
    </div>
  </div>
  <div class="comentarios">
    <div class="imgUsuarios">
      <img src="../../../assets/img/perfil/ladron.png" alt="" class="imgLogoUsuario"> 
    </div>
    <div class="inforComentarios">
      <h4 class="nombreComentario noneMP">Imanol PEREZ</h4>
      <p class="comentarioTextp noneMP">Comentario</p>
      <p class="fechaComentario noneMP">Fecha: 02-08-2022</p>
    </div>
  </div>
  <div class="containerTextArea">
    <div class="imgUsuarios">
      <img src="../../../assets/img/perfil/ladron.png" alt="" class="imgLogoUsuario">
    </div>
    <div class="containertextArea">
      <textarea name="" id="" cols="50" rows="5" class="textArea"></textarea>
      <button class="button">Publicar</button>
    </div>
  </div>
</div>
