.containerComentarios {
  width: 100%;
  background-color: rgb(238, 246, 253);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 3%;
  margin-bottom: 3%;
  word-wrap: break-word;
}

.containerOpcionnes {
  width: 100%;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgba(0, 0, 0, 0.693);
  align-items: center;
  text-align: center;
}

.numeroComments {
  margin: 0;
  padding: 0;
  text-align: center;
  align-items: center;
  margin-left: 1%;
}

.containerSelect {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 5px;
}

.containerSelect h4 {
  text-align: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

.comentarios {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 2%;
}

.imgUsuarios {
  width: 10%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.imgLogoUsuario {
  width: 50px;
  height: 45px;
}

.inforComentarios {
  width: 80%;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.noneMP {
  margin: 0;
  padding: 0;
  text-align: center;
}

.containerTextArea {
  width: 100%;
  display: flex;
  margin-top: 3%;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.containertextArea {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  word-wrap: break-word;
  margin-bottom: 2%;
}

.textArea {
  width: 85%;
  height: auto;
  resize: none;
}

.submit {
  width: 55%;
  height: 40px;
  margin-top: 2%;
}

.containerNocuenta {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.texto {
  width: 100%;
  align-items: center;
  text-align: center;
}

.texto h4 {
  font-family: monospace;
  color: rgb(0, 0, 0);
  margin: 0;
  padding: 0;
}

.containerEliminar {
  width: 10%;
}

.basuraIcon {
  height: 25px;
  cursor: pointer;
  transition: 0.5s;
}

.basuraIcon:hover {
  transform: scale(1.5);
}
