<div class="containerComentarios">
  <div class="containerOpcionnes">
    <h4 class="numeroComments"> {{datosComentarios.length}} Comentarios</h4>
    <div class="containerSelect">
      <h4>Ordenar por</h4>
      <select class="">
        <option value="">Mas antiguos</option>
        <option value="1">Mas recientes</option>
      </select>
    </div>
  </div>
  <div class="comentarios" *ngFor="let comments of datosComentarios.comments">
    <div class="imgUsuarios">
      <img src="../../../assets/img/perfil/{{comments.logo}}.png" alt="" class="imgLogoUsuario">
    </div>
    <div class="inforComentarios">
      <h4 class="nombreComentario noneMP">{{comments.name}}</h4>
      <p class="comentarioTextp noneMP">{{comments.message}}</p>
      <p class="fechaComentario noneMP">Fecha: {{comments.signupDate}}</p>
    </div>
  </div>
  <div class="containerTextArea" *ngIf="datosUsuario">
    <div class="imgUsuarios">
      <img src="../../../assets/img/perfil/{{datosUsuario.logo}}.png" alt="" class="imgLogoUsuario">
    </div>
    <div class="containertextArea">
      <form action="" [formGroup]="form" (ngSubmit)="publicar()">
        <textarea name="" id="" cols="50" rows="5" class="textArea" formControlName="message"></textarea>
        <button class="submit" [disabled]="!form.valid"
          [ngStyle]="{ cursor: form.valid ? 'pointer' : 'default' }">Publicar</button>
      </form>
    </div>
  </div>
  <div class="containerNocuenta" *ngIf="!datosUsuario">
    <div class="texto">
      <h4 class="textoCondiciones">Inicia seccion o resgistar si quieres hacer un comentario</h4>
    </div>
  </div>
</div>
