.containerComentarios {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 3%;
  margin-bottom: 3%;
  word-wrap: break-word;
}

.containerOpcionnes {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding-top: 1%;
  padding-bottom: 1%;
}

.numeroComments {
  margin: 0;
  padding: 0;
  text-align: center;
  align-items: center;
  margin-left: 1%;
  color: white;
  font-family: monospace;
}

.containerSelect {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 5px;
  margin-right: 1%;
  width: 50%;
}

.containerSelect h4 {
  color: white;
  text-align: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

.comentarios {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: center;
}

.imgUsuarios {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  margin-right: 5px;
  width: 10%;
}

.imgLogoUsuario {
  width: 50px;
  height: 49px;
  margin: 0;
  padding: 3%;
  border-radius: 50%;
  border: 1px solid rgb(255, 255, 255);
}

.inforComentarios {
  width: 80%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  gap: 1px;
}

.comentarioTextp {
  color: white;
  margin: 0;
  padding: 0;
  text-align: left;
  margin-left: 2%;
}

.containerNombre {
  width: 100%;
  display: flex;
  align-items: center;
  text-align: center;
  gap: 7px;
  padding-top: 1%;
  padding-bottom: 1%;
}

.fechaComentario {
  margin: 0;
  padding: 0;
  text-align: left;
  color: rgb(149, 149, 149);
  font-size: 13px;
  font-family: monospace;
}

.nombreComentario {
  margin: 0;
  padding: 0;
  text-align: left;
  color: white;
  margin-left: 1%;
  font-family: monospace;
  font-size: 17px;
}

.containerTextArea {
  width: 100%;
  display: flex;
  margin-top: 2%;
  margin-bottom: 3%;
  justify-content: center;
  align-items: flex-start;
  text-align: center;
}

.containertextArea {
  width: 90%;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  word-wrap: break-word;
  margin-bottom: 2%;
}
.containerForm {
  width: 85%;
  display: flex;
  justify-content: flex-end;
}

.textArea {
  width: 85%;
  padding: 0.5rem;
  text-align: left;
  color: white;
  border-bottom: 1px solid rgb(255, 255, 255);
  background-color: rgba(184, 135, 11, 0);
  cursor: pointer;
}

.textArea:empty::before {
  position: absolute;
  content: "Deja un comentario...";
  font-family: monospace;
  font-size: 15px;
}

.submit {
  width: 35%;
  height: 40px;
  margin-top: 1%;
}

.containerNocuenta {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.texto {
  width: 100%;
  align-items: center;
  text-align: center;
}

.texto h4 {
  font-family: monospace;
  margin: 0;
  padding: 0;
  color: white;
}

.containerEliminar {
  width: 10%;
}

.basuraIcon {
  height: 25px;
  cursor: pointer;
  transition: 0.5s;
  color: white;
}

.basuraIcon:hover {
  transform: scale(1.5);
}

/* From uiverse.io by @NorthFishHasNa */

.buttonEnviar {
  display: none;
  border-radius: 4px;
  background-color: #3d405b;
  border: none;
  color: #ffffff;
  text-align: center;
  font-size: 14px;
  padding: 13px;
  width: 110px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  animation: square-animation 1s ease-in;
  margin-top: 1%;
}

.buttonEnviar span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.buttonEnviar span:after {
  content: "»";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -15px;
  transition: 0.5s;
}

.buttonEnviar:hover span {
  padding-right: 15px;
}

.buttonEnviar:hover span:after {
  opacity: 1;
  right: 0;
}

/* botton de borrar */

.buttonBorrar {
  display: none;
  border-radius: 4px;
  background-color: #ae3939;
  border: none;
  color: #ffffff;
  text-align: center;
  font-size: 14px;
  padding: 13px;
  width: 113px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  animation: square-animation 1s ease-in;
  margin-top: 1%;
}

@keyframes square-animation {
  100% {
    margin-top: 1%;
  }

  0% {
    margin-top: 0;
  }
}

.buttonBorrar span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.buttonBorrar span:after {
  content: "x";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -15px;
  transition: 0.5s;
}

.buttonBorrar:hover span {
  padding-right: 15px;
}

.buttonBorrar:hover span:after {
  opacity: 1;
  right: 0;
}

/* From uiverse.io by @hannahyockel */

button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5%;
  border: 0px solid transparent;
  background-color: rgba(100, 77, 237, 0.08);
  border-radius: 1.25em;
  transition: all 0.2s linear;
  cursor: pointer;
}

button:hover {
  box-shadow: 3.4px 2.5px 4.9px rgba(0, 0, 0, 0.025),
    8.6px 6.3px 12.4px rgba(0, 0, 0, 0.035),
    17.5px 12.8px 25.3px rgba(0, 0, 0, 0.045),
    36.1px 26.3px 52.2px rgba(0, 0, 0, 0.055),
    99px 72px 143px rgba(0, 0, 0, 0.08);
}

.tooltip {
  position: relative;
  display: inline-block;
  margin: 0;
  padding: 0;
  height: 39px;
  width: 40px;
  cursor: pointer;
  align-items: center;
}

.svgEliminar {
  height: 35px;
  width: 35px;
}

/* Para 600px */
@media only screen and (max-width: 620px) and (min-width: 501px) {
  .containerSelect {
    width: 50%;
  }

  .tooltip {
    height: 35px;
    width: 35px;
  }

  .svgEliminar {
    height: 30px;
    width: 30px;
  }
}

/* Para 480px */
@media only screen and (max-width: 500px) and (min-width: 341px) {
  .imgLogoUsuario {
    width: 30px;
    height: 29px;
  }

  .nombreComentario {
    font-size: 15px;
  }

  .fechaComentario {
    font-size: 11px;
  }

  .comentarioTextp {
    font-size: 12px;
  }

  .textArea:empty::before {
    font-size: 11px;
  }

  .buttonBorrar {
    font-size: 11px;
    width: 65px;
    height: 30px;
  }

  .buttonEnviar {
    font-size: 11px;
    width: 67px;
    height: 32px;
  }

  .containerTextArea {
    margin-top: 3%;
    margin-bottom: 4%;
  }

  .containerSelect {
    width: 50%;
  }

  .tooltip {
    height: 30px;
    width: 30px;
  }

  .svgEliminar {
    height: 25px;
    width: 25px;
  }
}

/* Para 320px */
@media only screen and (max-width: 340px) and (min-width: 5px) {
  .imgLogoUsuario {
    width: 30px;
    height: 29px;
  }

  .nombreComentario {
    font-size: 15px;
  }

  .fechaComentario {
    font-size: 11px;
  }

  .comentarioTextp {
    font-size: 12px;
  }

  .textArea:empty::before {
    font-size: 9px;
  }

  .buttonBorrar {
    font-size: 9px;
    width: 55px;
    height: 25px;
  }

  .buttonEnviar {
    font-size: 9px;
    width: 57px;
    height: 27px;
  }

  .containerTextArea {
    margin-top: 3%;
    margin-bottom: 4%;
  }

  .numeroComments {
    font-size: 10px;
  }

  .containerSelect {
    width: 50%;
  }

  .containerSelect h4 {
    color: white;
    text-align: center;
    align-items: center;
    margin: 0;
    padding: 0;
    font-size: 10px;
  }

  .tooltip {
    height: 30px;
    width: 30px;
  }

  .svgEliminar {
    height: 25px;
    width: 25px;
  }
}
