.containerComentarios {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 3%;
  margin-bottom: 3%;
  word-wrap: break-word;
}

.containerOpcionnes {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding-top: 1%;
  padding-bottom: 1%;
}

.numeroComments {
  margin: 0;
  padding: 0;
  text-align: center;
  align-items: center;
  margin-left: 1%;
  color: white;
}

.containerSelect {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 5px;
  margin-right: 1%;
}

.containerSelect h4 {
  color: white;
  text-align: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

.comentarios {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  text-align: center;
  margin-top: 1%;
}

.imgUsuarios {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  margin-right: 5px;
}

.imgLogoUsuario {
  width: 50px;
  height: 49px;
  padding: 3%;
  border-radius: 50%;
  border: 1px solid rgb(255, 255, 255);
}

.inforComentarios {
  width: 80%;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  background-color: #181818;
}

.containerNombre {
  display: flex;
  align-items: center;
  text-align: center;
  gap: 7px;
  background-color: #202020;
  padding-top: 1%;
  padding-bottom: 1%;
}

.fechaComentario {
  margin: 0;
  padding: 0;
  text-align: left;
  color: white;
}

.noneMP {
  margin: 0;
  padding: 0;
  text-align: left;
  color: white;
  margin-left: 1%;
}

.comentarioTextp {
  padding-top: 1%;
  padding-bottom: 1%;
}

.containerTextArea {
  width: 100%;
  display: flex;
  margin-top: 2%;
  justify-content: center;
  align-items: flex-start;
  text-align: center;
}

.containertextArea {
  width: 90%;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  word-wrap: break-word;
  margin-bottom: 2%;
}
.containerForm {
  width: 85%;
  display: flex;
  justify-content: flex-end;
}

.textArea {
  width: 85%;
  padding: 0.5rem;
  text-align: left;
  color: white;
  border-bottom: 1px solid rgb(255, 255, 255);
  background-color: rgba(184, 135, 11, 0);
}

.textArea:empty::before {
  position: absolute;
  content: "Deja un comentario...";
  font-family: monospace;
  font-size: 15px;
}

.submit {
  width: 35%;
  height: 40px;
  margin-top: 1%;
}

.containerNocuenta {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.texto {
  width: 100%;
  align-items: center;
  text-align: center;
}

.texto h4 {
  font-family: monospace;
  margin: 0;
  padding: 0;
  color: white;
}

.containerEliminar {
  width: 10%;
}

.basuraIcon {
  height: 25px;
  cursor: pointer;
  transition: 0.5s;
  color: white;
}

.basuraIcon:hover {
  transform: scale(1.5);
}

/* From uiverse.io by @NorthFishHasNa */

.buttonEnviar {
  display: none;
  border-radius: 4px;
  background-color: #3d405b;
  border: none;
  color: #ffffff;
  text-align: center;
  font-size: 14px;
  padding: 13px;
  width: 110px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.buttonEnviar span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.buttonEnviar span:after {
  content: "»";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -15px;
  transition: 0.5s;
}

.buttonEnviar:hover span {
  padding-right: 15px;
}

.buttonEnviar:hover span:after {
  opacity: 1;
  right: 0;
}

/* botton de borrar */

.buttonBorrar {
  display: none;
  border-radius: 4px;
  background-color: #ae3939;
  border: none;
  color: #ffffff;
  text-align: center;
  font-size: 14px;
  padding: 13px;
  width: 113px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.buttonBorrar span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.buttonBorrar span:after {
  content: "x";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -15px;
  transition: 0.5s;
}

.buttonBorrar:hover span {
  padding-right: 15px;
}

.buttonBorrar:hover span:after {
  opacity: 1;
  right: 0;
}

.ver {
  display: inline-block;
}

/* From uiverse.io by @hannahyockel */

button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1em;
  border: 0px solid transparent;
  background-color: rgba(100, 77, 237, 0.08);
  border-radius: 1.25em;
  transition: all 0.2s linear;
}

button:hover {
  box-shadow: 3.4px 2.5px 4.9px rgba(0, 0, 0, 0.025),
    8.6px 6.3px 12.4px rgba(0, 0, 0, 0.035),
    17.5px 12.8px 25.3px rgba(0, 0, 0, 0.045),
    36.1px 26.3px 52.2px rgba(0, 0, 0, 0.055),
    99px 72px 143px rgba(0, 0, 0, 0.08);
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 4em;
  background-color: rgba(0, 0, 0, 0.253);
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: 25%;
  left: 110%;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent rgba(0, 0, 0, 0.253) transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}
