<div class="NavbarPrincipal" role="navigation">
  <div class="NavbarContainer">
    <div class="navBarSecciones">
      <div class="containerSecciones" routerLink="/pelis/home">
        <img src="../../../assets/img/secciones/hogar.png" alt="" class="imgSecciones">
        <p class="secciones">Inicio</p>
      </div>
     <div class="containerSecciones" (click)="openModalSeeker()">
      <img src="../../../assets/img/secciones/busqueda.png" alt="" class="imgSecciones">
      <p class="secciones">Buscador</p>
     </div>
      <div class="containerSecciones" routerLink="/pelis/moreView">
        <img src="../../../assets/img/secciones/fuego.png" alt="" class="imgSecciones">
        <p class="secciones">Mas vista</p>
      </div>
      <div class="containerSecciones" routerLink="/pelis/favoriteList" *ngIf="datoUsuario">
        <img src="../../../assets/img/secciones/boton.png" alt="" class="imgSecciones">
        <p class="secciones">Mis Listas</p>
      </div>
      <div class="containerSecciones"routerLink="/error404" >
        <img src="../../../assets/img/secciones/reloj.png" alt="" class="imgSecciones">
        <p class="secciones">Extrenos</p>
      </div>
    </div>
  </div>
  <div class="seccionesPelis">
    <p href="" class="secciones" routerLink="/pelis/genre/Acción,Drama">Accion</p>
    <p href="" class="secciones" routerLink="/pelis/genre/Comedia">Comedia</p>
    <p href="" class="secciones" routerLink="/pelis/genre/Drama,Suspenso">Drama</p>
    <p href="" class="secciones" routerLink="/pelis/genre/Suspenso,Acción">Suspenso</p>
    <p href="" class="secciones" routerLink="/pelis/genre/Suspenso,Terror">Terror</p>
    <p href="" class="secciones" routerLink="/pelis/genre/Documental">
      Documental
    </p>
  </div>
  <div class="navBarContacto">
    <div class="containerSecciones" routerLink="/error404">
      <img src="../../../assets/img/secciones/contacto.png" alt="" class="imgSecciones">
      <p class="secciones">Contactos</p>
    </div>
    <div class="containerSecciones"  routerLink="/error404">
      <img src="../../../assets/img/secciones/politica.png" alt="" class="imgSecciones">
      <p class="secciones">Politicas</p>
    </div>
    <div class="containerSecciones" routerLink="/error404">
      <img src="../../../assets/img/secciones/desarrollo-web.png" alt="" class="imgSecciones">
      <p class="secciones">Desarrollador</p>
    </div>
  </div>
</div>