<div class="NavbarPrincipal">
  <div class="NavbarContainer">
    <div class="navBarSecciones">
      <p class="secciones" routerLink="/pelis/home">Inicio</p>
      <p class="secciones" (click)="openModalSeeker()">Buscador</p>
      <p class="secciones" routerLink="/pelis/moreView">Mas vista</p>
      <p class="secciones" routerLink="/pelis/home">Extrenos</p>
      <p class="secciones" routerLink="/pelis/home">Mis Listas</p>
    </div>
  </div>
  <div class="navBarContacto">
    <p class="secciones">Contactanos</p>
    <p class="secciones">Politica de privacidad</p>
    <p class="secciones">Desarrolladores</p>
  </div>
</div>