<div class="NavbarPrincipal" role="navigation">
  <div class="NavbarContainer">
    <div class="navBarSecciones">
      <p class="secciones auto" routerLink="/pelis/home">
        <!-- <img src="../../../assets/img/secciones/hogar.png" alt="" class="imgSecciones"> -->
        Inicio</p>
      <p class="secciones" (click)="openModalSeeker()">Buscador</p>
      <p class="secciones" routerLink="/pelis/moreView">Mas vista</p>
      <p class="secciones" routerLink="/pelis/favoriteList" *ngIf="datoUsuario">Mis Listas</p>
      <p class="secciones" routerLink="/error404">Extrenos</p>
    </div>
  </div>
  <div class="seccionesPelis">
    <p href="" class="secciones" routerLink="/pelis/genre/Acción,Drama">Accion</p>
    <p href="" class="secciones" routerLink="/pelis/genre/Comedia">Comedia</p>
    <p href="" class="secciones" routerLink="/pelis/genre/Drama,Suspenso">Drama</p>
    <p href="" class="secciones" routerLink="/pelis/genre/Suspenso,Acción">Suspenso</p>
    <p href="" class="secciones" routerLink="/pelis/genre/Suspenso,Terror">Terror</p>
    <p href="" class="secciones" routerLink="/pelis/genre/Documental">
      Documental
    </p>
  </div>
  <div class="navBarContacto">
    <p class="secciones" routerLink="/error404">Contactos</p>
    <p class="secciones" routerLink="/error404">Politicas</p>
    <p class="secciones" routerLink="/error404">Desarrollador</p>
  </div>
</div>