@import url("https://fonts.googleapis.com/css2?family=Anton&family=Rowdies&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anton&family=Asap&family=Rowdies:wght@300;400;700&display=swap");

.NavbarPrincipal {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  min-width: 90%;
}

.NavbarContainer {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  flex-direction: column;
  margin-left: 3%;
  margin-top: 5%;
}

.navBarSecciones {
  margin-top: 5%;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.secciones {
  color: rgb(255, 255, 255);
  font-size: 22px;
  font-family: monospace;
  cursor: pointer;
  margin-left: 10%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border: 1px solid #17c3b200;
  padding: 2%;
  transition: 0.5s linear;
}

.auto:focus {
  color: #17c3b2;
  border: 1px solid #17c3b2;
}

.secciones:hover {
  color: #17c3b2;
  border: 1px solid #17c3b2;
  background-color: #e34d1600;
}

.navBarContacto {
  border-top: 1px solid #ffffffc2;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding-top: 2%;
}

.navBarTexto {
  color: rgb(255, 255, 255);
  font-family: "Asap", sans-serif;
  font-size: 120%;
  padding: 0;
  margin: 0;
}

.navBarRedes {
  display: flex;
  margin-top: 3%;
}

.imgRedes {
  height: 100%;
  cursor: pointer;
}

.imgA {
  width: 31px;
  height: 31px;
  padding: 0;
  margin: 1%;
}

.imgRedes:hover {
  filter: opacity(0.4) drop-shadow(0 0 0 rgb(42, 255, 35));
}
