@import url("https://fonts.googleapis.com/css2?family=Anton&family=Rowdies&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anton&family=Asap&family=Rowdies:wght@300;400;700&display=swap");

.NavbarPrincipal {
  position: absolute;
  left: 0;
  top: 0;
  width: 25%;
  height: 100%;
  background-color: #161717;
}

.navBarViendo {
  position: absolute;
  left: 0;
  top: 0;
  color: rgb(255, 255, 255);
  font-size: 75%;
  margin-left: 3%;
  font-family: IBM Plex Sans, sans-serif;
}

.NavbarContainer {
  display: flex;
  width: 95%;
  justify-content: flex-start;
  flex-direction: column;
  margin-left: 3%;
  margin-top: 12%;
}

.navBarImg {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
}

.navBarImgLogo {
  width: 60%;
  height: 60%;
  cursor: pointer;
}

.navBarTitulo {
  color: rgb(255, 255, 255);
  font-family: "Anton", sans-serif;
  font-family: "Rowdies", cursive;
  font-size: 400%;
  cursor: pointer;
  padding: 0;
  margin: 0;
  animation-duration: 3s;
  animation-name: slidein;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

@keyframes slidein {
    from {
        font-size: 400%;
    }
  
    to {
        font-size: 480%;
    }
}
  
.navBarTexto {
  color: rgb(255, 255, 255);
  font-family: "Asap", sans-serif;
  font-size: 120%;
  padding: 0;
  margin: 0;
}

.navBarRedes {
  display: flex;
  margin-top: 3%;
}

.imgRedes {
  height: 100%;
  cursor: pointer;
}

.imgA {
    width: 31px;
    height: 31px;
    padding: 0;
    margin: 1%;
}

.imgRedes:hover {
  filter: opacity(0.4) drop-shadow(0 0 0 rgb(42, 255, 35));
}
