.NavbarPrincipal {
  left: 0;
  top: 0;
  height: 90%;
  min-width: 90%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.NavbarContainer {
  margin-top: 5%;
  display: flex;
  width: 100%;
  justify-content: flex-start;
  flex-direction: column;
}

.navBarSecciones {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.secciones {
  color: rgb(255, 255, 255);
  font-size: 18px;
  font-family: monospace;
  cursor: pointer;
  margin-left: 8%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border: 1px solid #17c3b200;
  transition: 0.5s linear;
}

.auto:focus {
  color: #17c3b2;
  border: 1px solid #17c3b2;
}

.secciones:hover {
  color: #17c3b2;
  border: 1px solid #17c3b2;
  background-color: #e34d1600;
}

.navBarContacto {
  padding-top: 2%;
  border-top: 1px solid #ffffffc2;
  width: 100%;
}

/* adding the genre bar when it reaches the mobile level */
.seccionesPelis {
  padding-top: 2%;
  border-top: 1px solid #ffffffc2;
  display: none;
  width: 100%;
  justify-content: flex-start;
  flex-direction: column;
}

@media only screen and (max-width: 1300px) and (min-width: 980px) {
  .secciones {
    font-size: 18px;
  }
}

/* Para 960px */
@media only screen and (max-width: 980px) and (min-width: 821px) {
  .secciones {
    font-size: 18px;
  }
}

/* Para 800px */
@media only screen and (max-width: 820px) and (min-width: 621px) {
  .secciones {
    font-size: 15px;
  }
}

/* Para 600px */
@media only screen and (max-width: 620px) and (min-width: 501px) {
  .secciones {
    font-size: 14px;
    padding: 0%;
  }

  .seccionesPelis {
    display: flex;
  }
  
}

/* Para 480px */
@media only screen and (max-width: 500px) and (min-width: 341px) {
  .secciones {
    font-size: 12px;
    padding: 0%;
    margin: 0;
    margin-left: 8%;
  }

  .seccionesPelis {
    display: flex;
  }
}

/* Para 320px */
@media only screen and (max-width: 340px) and (min-width: 5px) {
  .secciones {
    font-size: 10px;
    padding: 0%;
    margin: 0;
    margin-left: 8%;
  }

  .seccionesPelis {
    display: flex;
  }
}
