<div class="containerLogin">
    <div class="containerImg">
      <img
        src="../../../assets/img/icon/rollo-de-pelicula.png"
        alt=""
        class="playImg"
      />
      <h4 class="Bienvenido">¡Bienvenido de nuevo!</h4>
    </div>
    <div class="containerIniciar">
      <h4 class="IniciarSeccion">Iniciar Sesión Por Email</h4>
      <form
        [formGroup]="formLogin"
        (ngSubmit)="datosForm()"
        class="formContainer"
      >
        <div class="contianerInputs">
          <input
            type="text"
            placeholder="Correo Electronico"
            formControlName="email"
            class="input"
          />
          <mat-error
            *ngIf="
              formLogin.controls['email'].touched &&
              formLogin.controls['email'].hasError('required')
            "
            class="matFalse"
          >
            Correo Requerido.
          </mat-error>
          <mat-error
            *ngIf="
              formLogin.controls['email'].touched &&
              formLogin.controls['email'].hasError('pattern')
            "
            class="matFalse"
          >
            Correo inválido.
          </mat-error>
          <input
            type="password"
            placeholder="Contraseña"
            formControlName="password"
            class="input"
          />
          <mat-error
            *ngIf="
              formLogin.controls['password'].touched &&
              formLogin.controls['password'].hasError('required')
            "
            class="matFalse"
          >
            Contraseña Requerida.
          </mat-error>
          <mat-error
            *ngIf="
              formLogin.controls['password'].touched &&
              formLogin.controls['password'].invalid
            "
            class="matFalse"
          >
            Esta contraseña no cumple con el tamaño.
          </mat-error>
        </div>
        <div class="matError">
          <mat-error
            *ngIf="
              is_sendmail == false 
              && formLogin.controls['email'].touched
            "
            class="matFalseRojo "
          >
            No pudimos encontrar un usuario con este correo electrónico y esta
            contraseña, intente con otro.
          </mat-error>
          <mat-error *ngIf="datosLogin?.DatosLogin" class="matTrue">
            BIENVENIDO {{ datosLogin?.DatosLogin?.name }}
          </mat-error>
        </div>
        <div class="button">
          <button type="submit" [disabled]="formLogin.invalid" class="buttonIS">
            Iniciar Sesión
          </button>
        </div>
      </form>
    </div>
    <div class="containerCondiciones">
      <div class="containerNoTienes">
        <h4 class="pregunta">¿No tienes cuenta?</h4>
        <h4 class="registrate" (click)="OpenModalResgistrar()">Regístrate</h4>
      </div>
      <div class="Terminos">
        <p>
          Al registrarte, has aceptado los
          <strong class="strongTerminos"
            >términos de uso y la política de privacidad</strong
          >
          de FilmsDo.
        </p>
      </div>
    </div>
</div>
