<div class="containerLogin">
  <div class="containerInput">
    <div class="containerImg">
      <img
        src="../../../assets/img/icon/google-play.png"
        alt=""
        class="playImg"
      />
      <h4 class="Bienvenido">¡Bienvenido de nuevo!</h4>
    </div>
    <div class="containerIniciar">
      <h4 class="IniciarSeccion">Iniciar Sesión Por Email</h4>
      <form [formGroup]="formLogin" (ngSubmit)="datosForm()" class="formContainer">
        <div class="contianerInputs">
          <input
            type="text"
            placeholder="Correo Electronico"
            formControlName="email"
            class="input"
          />
          <mat-error *ngIf="formLogin.controls['email'].touched && formLogin.controls['email'].hasError('required')">
            Correo Requerido.
          </mat-error>
          <mat-error *ngIf="formLogin.controls['password'].touched && formLogin.controls['email'].hasError('pattern')">
            Correo inválido.
          </mat-error>
          <input
            type="password"
            placeholder="Contraseña"
            formControlName="password"
            class="input"
          />
          <mat-error *ngIf="formLogin.controls['password'].touched && formLogin.controls['password'].hasError('required')">
            Contraseña Requerida.
          </mat-error>
          <mat-error *ngIf="formLogin.controls['password'].touched && formLogin.controls['password'].invalid">
            Esta contraseña no cumple con el tamaño.
          </mat-error>
        </div>
        <div class="matError">
          <mat-error *ngIf="is_sendmail == false && (!formLogin.controls['email'].hasError('required')) && !formLogin.controls['email'].hasError('pattern')">
            No pudimos encontrar un usuario con este correo electrónico y esta contraseña, intente con otro.
          </mat-error>
        </div>
        <div class="button">
          <button type="submit" [disabled]="formLogin.invalid">Iniciar Sesión</button>
        </div>
      </form>
    </div>
    <div class="containerCondiciones">
      <div class="containerNoTienes">
        <h4 class="pregunta">¿No tienes cuenta?</h4>
        <h4 class="registrate">Regístrate</h4>
      </div>
      <div class="Terminos">
        <p>
          Al registrarte, has aceptado los términos de uso y la política de
          privacidad de pelisRD
        </p>
      </div>
    </div>
  </div>
</div>
