<div class="containerRegistar">
  <div class="ContainerTitulo">
    <h4 class="titulo">Resgistro</h4>
  </div>
  <div class="containerInput">
    <input type="name" placeholder="Nombre" class="input">
    <input type="email" placeholder="Email" class="input">
    <input type="password" placeholder="Contraseña" class="input">
    <div>
      <img src="../../../assets/img/perfil/extraterrestre.png" alt="" class="imgPerfil">
      <img src="../../../assets/img/perfil/fantasma.png" alt="" class="imgPerfil">
      <img src="../../../assets/img/perfil/ladron.png" alt="" class="imgPerfil">
      <img src="../../../assets/img/perfil/momia.png" alt="" class="imgPerfil">
      <img src="../../../assets/img/perfil/muerte.png" alt="" class="imgPerfil">
    </div>
  </div>
  <div>
    <button class="buttonCrear">
       Crear
    </button>
  </div>
</div>