.containerSeccionesPelis {
  width: 100%;
  height: 8vh;
  background-color: #000000;
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #ffffffc2;
  overflow: hidden;
}

.seccionesImg {
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.imgLogo {
  height: 30px;
  cursor: pointer;
  transition: height 0.5s linear;
}

.imgLogo:hover {
  height: 40px;
}

.seccionesPelis {
  display: flex;
  flex-direction: row;
  gap: 1px;
  width: 40%;
  height: 100%;
  justify-content: space-around;
  align-items: center;
}

.pSecciones {
  font-family: monospace;
  font-size: 17px;
  color: rgb(255, 255, 255);
  text-align: center;
  filter: opacity(0.7);
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: 0.5s linear;
  margin: 0;
  padding: 1%;
  border: 1px solid #17c3b200;
}

.pCuenta {
  font-family: monospace;
  font-size: 17px;
  color: rgb(255, 255, 255);
  text-align: center;
  filter: opacity(0.7);
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.pCuenta:hover {
  filter: opacity(1);
}

.pSecciones:hover {
  background-color: #e34d1600;
  filter: opacity(1);
  border: 1px solid #17c3b2;
}

.seccionesCuenta {
  width: 30%;
  display: flex;
  justify-content: flex-end;
  cursor: pointer;
}

.seccioneUsuario {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  width: auto;
  margin-right: 8%;
}

.seccioneUsuario:hover .imgUsuario {
  filter: opacity(1) drop-shadow(0 0 0 #ffffff);
}

.imgUsuario {
  height: 28px;
  transition: filter 0.2s ease;
}

.sideRigth {
  width: 30%;
  height: 92vh;
  background-color: #000000;
  border-left: 1px solid white;
}


.sideLeft {
  width: 15%;
  height: 92vh;
  background-color: #000000;
  border-right: 1px solid white;
}

mat-menu-panel.containerMenu {
  /* max-width:none; */
  width: 40%; 
  
}

/* Para 1300px */
@media only screen and (max-width: 1300px) and (min-width: 980px) {
  .seccionesPelis {
    width: 60%;
  }

  .pSecciones {
    font-size: 14px;
  }

  .sideLeft {
    width: 20%;
    border-right: 1px solid white;
  }
}

/* Para 960px */
@media only screen and (max-width: 980px) and (min-width: 821px) {
  .seccionesPelis {
    width: 80%;
  }

  .pSecciones {
    font-size: 14px;
  }

  .sideRigth {
    width: 45%;
  }

  .sideLeft {
    width: 30%;
    border-right: 1px solid white;
  }
}

/* Para 800px */
@media only screen and (max-width: 820px) and (min-width: 621px) {
  .seccionesPelis {
    width: 80%;
  }

  .pSecciones {
    font-size: 14px;
  }

  .sideRigth {
    width: 60%;
  }

  .sideLeft {
    width: 40%;
    border-right: 1px solid white;
  }

  .pCuenta {
    font-size: 15px;
  }

  .imgLogo:hover {
    height: 38px;
  }
}

/* Para 600px */
@media only screen and (max-width: 620px) and (min-width: 501px) {
  .seccionesPelis {
    display: none;
  }

  .containerSeccionesPelis {
    justify-content: space-between;
  }

  .sideRigth {
    width: 80%;
  }

  .sideLeft {
    width: 50%;
    border-right: 1px solid white;
  }

  .seccionesImg {
    width: 20%;
  }

  .seccionesCuenta {
    width: 40%;
  }

  .imgLogo {
    height: 30px;
  }

  .imgUsuario {
    height: 25px;
  }

  .pCuenta {
    font-size: 15px;
  }

  .imgLogo:hover {
    height: 35px;
  }
}

/* Para 480px */
@media only screen and (max-width: 500px) and (min-width: 341px) {
  .seccionesPelis {
    display: none;
  }
  .containerSeccionesPelis {
    justify-content: space-between;
  }

  .sideRigth {
    width: 100%;
    border-left: 0px solid white;
  }

  .sideLeft {
    width: 70%;
    border-right: 1px solid white;
  }

  .seccionesImg {
    width: 20%;
  }

  .seccionesCuenta {
    width: 40%;
  }

  .imgLogo {
    height: 28px;
  }

  .imgUsuario {
    height: 25px;
  }

  .pCuenta {
    font-size: 13px;
  }
  .imgLogo:hover {
    height: 33px;
  }
}

/* Para 320px */
@media only screen and (max-width: 340px) and (min-width: 5px) {
  .seccionesPelis {
    display: none;
  }
  .containerSeccionesPelis {
    justify-content: space-between;
  }

  .sideRigth {
    width: 100%;
    border-left: 0px solid white;
  }

  .sideLeft {
    width: 70%;
    border-right: 1px solid white;
  }

  .seccionesImg {
    width: 20%;
  }

  .seccionesCuenta {
    width: 40%;
  }

  .imgLogo {
    height: 25px;
  }

  .imgUsuario {
    height: 20px;
  }

  .pCuenta {
    font-size: 11px;
  }

  .imgLogo:hover {
    height: 30px;
  }
}

/* Para 1300px */
@media only screen and (max-height: 680px) and (min-height: 50px) {
  .imgLogo {
    height: 22px;
  }

  .pSecciones {
    font-size: 13px;
  }

  .imgUsuario {
    height: 20px;
  }

  .pCuenta {
    font-size: 13px;
  }

  .imgLogo:hover {
    height: 26px;
  }
}
