@import url("https://fonts.googleapis.com/css2?family=Anton&family=Asap&family=Rowdies:wght@300;400;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Asap&family=Fredoka:wght@300&family=Rowdies:wght@300;400;700&display=swap');

.containerSeccionesPelis {
  right: 0;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  overflow: none;
  background-color: #161717;
}

.pSecciones {
  font-family: IBM Plex Sans, sans-serif;
  font-size: 105%;
  width: 10%;
  color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  filter: opacity(0.7);
}
