<div class="containerSeccionesPelis">
  <div class="seccionesImg">
    <img 
    src="../../../assets/img/icon/google-play.png" 
    alt="" 
    class="imgLogo" 
    (click)="sideLeft.open()"
    >
  </div>
  <div class="seccionesPelis">
    <p href="" class="pSecciones" routerLink="/pelis/genre/Acción,Drama">Accion</p>
    <p href="" class="pSecciones" routerLink="/pelis/genre/Comedia">Comedia</p>
    <p href="" class="pSecciones" routerLink="/pelis/genre/Drama,Suspenso">Drama</p>
    <p href="" class="pSecciones" routerLink="/pelis/genre/Suspenso,Acción">Suspenso</p>
    <p href="" class="pSecciones" routerLink="/pelis/genre/Suspenso,Terror">Terror</p>
    <p href="" class="pSecciones" routerLink="/pelis/genre/Documental">
      Documental
    </p>
  </div>
  <div class="seccionesCuenta">
    <div class="seccioneUsuario" (click)="sideRight.open()">
      <img src="../../../assets/img/icon/usuario.png" alt="" class="imgUsuario">
      <p class="pSecciones">Cuenta</p>
    </div>
  </div>
</div>
<mat-sidenav-container >
  <mat-sidenav #sideRight position="end" mode="over" class="sideRigth">
    <app-login (closeSidenav)="sideRight.close()"> </app-login>
  </mat-sidenav>
  <mat-sidenav #sideLeft position="start" mode="over" class="sideLeft">
    <app-nav-bar (closeSidenav)="sideLeft.close()"> </app-nav-bar>
  </mat-sidenav>
  <mat-sidenav-content style="height: 95vh">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>