<div class="containerSeccionesPelis">
  <div class="SeccionesPelis">
    <p href="" class="pSecciones" routerLink="/pelis/genre/Acción,Drama">Accion</p>
    <p href="" class="pSecciones" routerLink="/pelis/genre/Comedia">Comedia</p>
    <p href="" class="pSecciones" routerLink="/pelis/genre/Drama,Suspenso">Drama</p>
    <p href="" class="pSecciones" routerLink="/pelis/genre/Suspenso,Acción">Suspenso</p>
    <p href="" class="pSecciones" routerLink="/pelis/genre/Suspenso,Terror">Terror</p>
    <p href="" class="pSecciones" routerLink="/pelis/genre/Documental">
      Documental
    </p>
  </div>
  <div class="seccionesCuenta">
    <div class="seccioneUsuario">
      <img src="../../../assets/img/icon/usuario.png" alt="" class="imgUsuario">
      <p class="pSecciones">Cuenta</p>
    </div>
  </div>
</div>