<div class="homeContainer">
    <app-nav-bar></app-nav-bar>
    <div class="movieSectionsContainer">
        <app-movie-sections></app-movie-sections>
        <div class="containerPelisInfo">
            <div class="containerCarh"  *ngFor="let item of datos">
                <div class="Carh" (click)="dataPelisOne(item)">
                    <img [src]="item.img" alt="" class="carhImg">
                    <div class="containerIcon">
                        <img src="../../../assets/img/icon/boton-de-play (1).png" alt="" class="iconImg" >
                    </div>
                </div>
                <div class="containerInfo">
                    <p class="tituloCarh" routerLink="/pelis/movies">{{item?.titulo}}</p>
                    <div class="genero">
                        <p class="generoCarh">{{item?.genero}},</p>
                        <p class="generoCarh">({{years}})</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
