<div class="homeContainer">
    <app-nav-bar></app-nav-bar>
    <div class="movieSectionsContainer">
        <app-movie-sections></app-movie-sections>
        <div class="containerPelisInfo">
            <div class="containerCarh" *ngFor="let item of datos">
                <div class="Carh"  routerLink="/pelis/movies">
                    <img [src]="item.img" alt="" class="carhImg">
                    <div class="containerIcon">
                        <img src="../../../assets/img/icon/boton-de-play (1).png" alt="" class="iconImg" >
                    </div>
                </div>
                <div class="containerInfo">
                    <p>{{item?.titulo}}</p>
                    <p>{{item?.genero}}</p>
                </div>
            </div>
        </div>
    </div>
</div>
