.movieSectionsContainer {
  position: absolute;
  right: 0;
  top: 0;
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: #26272c;
  overflow-y: scroll;
}

.movieSectionsContainer::-webkit-scrollbar {
  background: #161717;
  width: 9px;
}

.movieSectionsContainer::-webkit-scrollbar-thumb {
  background: #8e9494;
}

.tituloGenre {
  color: #fafafa;
  font-size: 22px;
  margin-left: 4%;
  font-family: "Fredoka", sans-serif;
  letter-spacing: 0.10em;
}