<div class="homeContainer">
    <app-nav-bar></app-nav-bar>
    <div class="movieSectionsContainer">
        <app-movie-sections></app-movie-sections>
        <div class="containerPelisInfo">
            <div class="containerCarh">
                <div class="Carh" *ngFor="let item of datos" routerLink="/pelis/movies">
                    <img [src]="item.img" alt="" class="carhImg">
                    <div class="containerIcon">
                        <img src="../../../assets/img/icon/boton-de-play.png" alt="" class="iconImg" >
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
