@import url("https://fonts.googleapis.com/css2?family=Anton&family=Asap&family=Rowdies:wght@300;400;700&display=swap");

.movieSectionsContainer {
    position: absolute;
    right: 0;
    top: 0;
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #222425;
}

.containerSeccionesPelis{
    right: 0;
    top: 0;
    width: 100%;
    height: 5%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    overflow: none;
    background-color: #161717;
}

.aSecciones {
    text-decoration: none;
    font-family: IBM Plex Sans, sans-serif;
    font-size: 105%; 
    color: rgb(255, 255, 255);
    padding-inline-start: 6%;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 80%;
    filter: opacity(0.7);
}

.imgSecciones {
    height: 50%;
    padding-inline-end: 8%;
}


/* Container pelis informacion */

.containerPelisInfo {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    overflow-y: scroll;
    gap: 20px;
}

.containerPelisInfo::-webkit-scrollbar {
    background: #161717;
    width: 7px;
}

.containerPelisInfo::-webkit-scrollbar-thumb {
    background: #8e9494;
}

.containerCarh {
    margin: 5%;
    padding: 0;
    margin: 0;
    height: 310px;
    border-radius: 5%;
    display: flex;
    position: relative;
    align-items: center;
    cursor: pointer;
    box-shadow:
       inset 0 -3em 3em rgba(0,0,0,0.1),
             0 0  0 2px rgb(80, 42, 94),
             0.3em 0.3em 1em rgba(0,0,0,0.3);
}

.carhImg {
    border-radius: 5%;
    padding: 0;
    margin: 0;
}

.containerCarh:hover .carhImg {
    opacity: 0.3;
}

.containerText {
    text-align: center;
    position: absolute;
}


.text {
    color: rgb(255, 255, 255);
    padding: 10px 20px;
    font-size: 18px;
    opacity: 0;
    transition: all .3s;
    transform: scale(0.9);
}

.containerCarh:hover .text {
    transform: scale(1);
    opacity: 1;
}