<div class="movieSectionsContainer">
    <div class="containerSeccionesPelis">
        <a href="" class="aSecciones">
            <img src="../../../../../assets/img/secciones/humor.png" alt="" class="imgSecciones">
            Humor
        </a>
        <a href="" class="aSecciones">
            <img src="../../../../../assets/img/secciones/pelicula-de-accion.png" alt="" class="imgSecciones">
            Accion
        </a>
        <a href="" class="aSecciones">
            <img src="../../../../../assets/img/secciones/drama.png" alt="" class="imgSecciones">
            Drama
        </a>
        <a href="" class="aSecciones">
            <img src="../../../../../assets/img/secciones/folder.png" alt="" class="imgSecciones">
            Suspenso
        </a>
        <a href="" class="aSecciones">
            <img src="../../../../../assets/img/secciones/pelicula-de-terror.png" alt="" class="imgSecciones">
            Terror
        </a>
        <a href="" class="aSecciones">
            <img src="../../../../../assets/img/secciones/folder.png" alt="" class="imgSecciones">
            Documental
        </a>
    </div>
    <div class="containerPelisInfo">
        <div class="containerCarh" *ngFor="let item of datos" routerLink="/ViewingMovies">
            <img [src]="item.img" alt="" height="310" width="210" class="carhImg">
            <div class="containerText">
                <p class="text">{{item.titulo}}</p>
            </div>
        </div>
    </div>
</div>