* {
  box-sizing: border-box;
}

html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-y: scroll;
}
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

html::-webkit-scrollbar {
  background: #161717;
  width: 4px;
}

html::-webkit-scrollbar-thumb {
  background: #8e9494;
}

mat-dialog-container {
  background-color: #0d1017 !important;
  padding: 0px 0px 0px 0px !important;
  overflow-y: scroll;
  border: solid 1px #8e9494;
}

mat-dialog-container::-webkit-scrollbar {
  background: #161717;
  width: 4px;
}

mat-dialog-container::-webkit-scrollbar-thumb {
  background: #8e9494;
}

.movieSectionsContainer {
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: #0d1017;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

.movieSectionsContainer::-webkit-scrollbar {
  background: #161717;
  width: 4px;
}

.movieSectionsContainer::-webkit-scrollbar-thumb {
  background: #8e9494;
}

@media only screen and (max-width: 500px) and (min-width: 0px) {
  mat-dialog-container {
    border: solid 0px #8e9494;
  }
}

/* CSS PARA EL BOTON DE SUBIR A LA PARTE DE ARRIBA DE LAS PAGINAS */

.containerFlecha {
  width: 98%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: fixed;
  top: 90%;
}

.imgFlecha {
  height: 30px;
  scroll-behavior: smooth;
  background-color: #4741d6;
  border: 1px solid rgba(255, 255, 255, 0.442);
  border-radius: 35%;
  align-items: center;
  text-align: center;
  cursor: pointer;
  opacity: 0.5;
}

.imgFlecha:hover {
  opacity: 1;
}

/* Para 600px */
@media only screen and (max-width: 620px) and (min-width: 501px) {
  .imgFlecha {
    height: 25px;
    opacity: 0.8;
  }

  .imgFlecha:hover {
    opacity: 0.8;
  }
}

/* Para 480px */
@media only screen and (max-width: 500px) and (min-width: 341px) {
  .imgFlecha {
    height: 25px;
    opacity: 0.8;
  }

  .imgFlecha:hover {
    opacity: 0.8;
  }
}

/* Para 320px */
@media only screen and (max-width: 340px) and (min-width: 5px) {
  .imgFlecha {
    height: 20px;
    opacity: 0.8;
  }

  .imgFlecha:hover {
    opacity: 0.8;
  }
}
